@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Overpass:ital,wght@0,100..900;1,100..900&display=swap");

h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 2rem;
  color: #ff5000;
  font-weight: bold;
}

p,
li {
  text-wrap: pretty;
  max-width: 75ch;
  font-size: 1rem;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

body {
  min-height: 100svh;
  background-color: #faf6f5;
  font-family: "Overpass", sans-serif;
}

img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}

@media (prefers-reduced-motion: no-preference) {
  :has(:target) {
    scroll-behavior: smooth;
    scroll-padding-top: 2rem;
  }
}

/* header */

header {
  background: #ff5000;
  color: #fff;
  min-height: 5rem;
  display: flex;
  text-align: center;
  align-items: center;
}

.header-container {
  max-width: 1440px;
  justify-content: space-between;
  display: flex;
  align-items: center;
  flex-grow: 1;
  margin: 0 auto;
  padding: 0 3rem;
}

nav ul,
.headerIcons {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}

.headerIcons {
  gap: 0.5rem;
}

nav ul li a,
header p {
  text-decoration: none;
  color: #faf6f5;
  font-size: 18px;
  font-weight: bold;
}

nav a:hover {
  opacity: 0.8;
}

.headerIcons a {
  color: white;
}

.logo p {
  font-size: 2.5rem;
}

.logo {
  margin-right: auto;
}

nav {
  flex-grow: 1;
}

nav ul li {
  margin: 0 1.5rem;
}

/* footer */
footer {
  background-color: #ff5000;
}

/* wrapper styling */
.wrapper {
  /*  max-width: 1440px; */
}

.wrapper h2 {
  display: flex;
  justify-content: center;
  padding-top: 2rem;
}

.footer-content,
.containerPopularRecipes {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.containerQuickAndEasy,
.containerEasterAndPassover,
.containerNewestArticles {
  display: flex;
  justify-content: center;
}

.containerSeperateQuickAndEasy {
  display: flex;
  justify-content: center;
  flex-direction: row;
}

.containerSeperateQuickAndEasy .recipeStyling {
}

.containerSeperateQuickAndEasy .recipeStyling img {
  width: 430px;
  height: 242px;
  object-fit: cover;
  object-position: center;
}

/* recipe card styling */

.recipeStyling {
  display: flex;
  flex-direction: column;
  background: #efefef;
  border-radius: 1px;
  border-color: #e0dbdb;
  border-style: solid;
  margin: 0.5rem;
  padding: 1rem 1rem;
  justify-content: space-between;
}

.recipeStyling img {
  width: 430px;
  height: 242px;
  object-fit: cover;
  object-position: center;
}

.recipeStyling h3 {
  font-size: 1.5rem;
  color: #236a05;
  max-width: 430px;
}

.recipeStyling ul {
  list-style-type: none;
}

/* hero styling */
.hero {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero img {
  height: 600px;
  width: 100%;
  object-fit: cover;
  object-position: bottom;
}

#searchBar {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#searchBarInput::placeholder {
  font-weight: bold;
  color: black;
  font-size: 1.15rem;
}

#searchBarInput {
  padding: 10px;
  margin-right: 5px;
  width: 800px;
  height: 69px;
  border-width: 0;
  border-radius: 35px;
  padding: 0 2rem;
}

#searchBar button {
  margin-top: 2rem;
  padding: 10px 20px;
  width: 240px;
  height: 69px;
  border-width: 0;
  border-radius: 35px;
  background-color: #236a05;
  color: white;
  font-size: 1.25rem;
  font-weight: bold;
}
